<div class="modal-header">
  <h4 class="modal-title pull-left">Address</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <fieldset disabled>
    <legend>Address</legend>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="input-street">Street</label>
          <input name="street" [ngModel]="address.street" id="input-street" class="form-control">
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-city">City</label>
          <input name="city" [ngModel]="address.city" id="input-city" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="input-country">Country</label>
          <ng-select name="country" [(ngModel)]="address.country" id="input-country" [disabled]="true">
            <ng-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-zip">Zip</label>
          <input name="zip" [ngModel]="address.zip" id="input-zip" class="form-control">
        </div>
      </div>
    </div>
  </fieldset>
</div>
