<!-- <nb-layout>
      <nb-layout-header fixed>Company Name</nb-layout-header>

      <nb-sidebar left fixed state="expanded">Sidebar Content</nb-sidebar>

      <nb-layout-column></nb-layout-column>

      <nb-layout-column>Page Content</nb-layout-column>

      <nb-layout-column>Page Content</nb-layout-column>

      <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout> -->

<!-- <nb-layout>
      <nb-layout-column>
            <app-login></app-login>
      </nb-layout-column>
</nb-layout>
 -->
<router-outlet></router-outlet>