<nb-auth-block>
  <h2 class="title">Sign In</h2>
  <small class="form-text sub-title">Hello! Sign in with your Username</small>
  <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
    <div *ngIf="loginError && !submitted" class="alert alert-danger" role="alert">
      <div>
        <strong>Oh snap! Try Again.</strong>
      </div>
      <div *ngFor="let error of errors">{{ error }}</div>
    </div>
    <div class="form-group">
      <input name="username" [(ngModel)]="user.username" id="input-username" class="form-control" placeholder="Username" #username="ngModel"
        [class.form-control-danger]="username.invalid && username.touched" required="true" autofocus>
      <small class="form-text error" *ngIf="username.invalid && username.touched">
        Username is required!
      </small>
    </div>
    <div class="form-group">
      <input name="password" [(ngModel)]="user.password" type="password" id="input-password" class="form-control" placeholder="Password"
        #password="ngModel" [class.form-control-danger]="password.invalid && password.touched" required="true">
      <small class="form-text error" *ngIf="password.invalid && password.touched">
        Password is required!
      </small>
    </div>

    <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success" [class.btn-pulse]="submitted">
      Sign In
    </button>
  </form>
  <div class="links">
    <div class="socials">
      <a href="https://github.com/strahinja-gligovic" target="_blank" class="socicon-github"></a>
    </div>
    <small class="form-text">
      Don't have an account?
      <a routerLink="../register">
        <strong>Sign Up</strong>
      </a>
    </small>
  </div>
</nb-auth-block>