<app-title [title]="'Movies'"></app-title>
<alert *ngIf="success" type="success">
  <strong>Success!</strong>
</alert>
<alert *ngIf="error && !submitted" type="danger" [dismissible]="true">
  <strong>{{error.errmsg || 'Something unexpected happened.'}}</strong>
</alert>
<div class="row">
  <div class="col">
    <button type="button" [disabled]="submitted" class="btn btn-secondary" (click)="openMovieModal()">Add Movie</button>
  </div>
</div>

<div class="row">
  <div class="col">
    <ngx-datatable ngx-resize-watcher class="bootstrap" [rows]="movies" [columnMode]="'flex'" [headerHeight]="40" [footerHeight]="40"
      [rowHeight]="'auto'">
      <ngx-datatable-column name="Title" prop="title" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="2"></ngx-datatable-column>
      <ngx-datatable-column name="Release Date" prop="releaseDate" [resizeable]="false" [sortable]="false" [draggable]="false"
        [flexGrow]="1">
        <ng-template let-releaseDate="value" ngx-datatable-cell-template>
          <span>{{ releaseDate | date}}</span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Remaining" prop="remaining" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Total" prop="total" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Operations" prop="_id" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
          &nbsp;
        </ng-template>
        <ng-template let-movie_id="value" ngx-datatable-cell-template>
          <div>
            <span *ngIf="!submitted" (click)="openMovieModal(movie_id)">
              <i class="fas fa-pencil-alt fa-lg clickable"></i>
            </span>
            &nbsp;
            <span *ngIf="!submitted" (click)="deleteMovie(movie_id)">
              <i class="fas fa-trash fa-lg clickable"></i>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
