<div class="modal-header">
  <h4 class="modal-title" *ngIf="client._id; else clientAdd">Client Update</h4>
  <ng-template #clientAdd>
    <h4 class="modal-title">Client Add</h4>
  </ng-template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <alert *ngIf="error && !submitted" type="danger" [dismissible]="true">
    <strong>{{error.errmsg || 'Something unexpected happened.'}}</strong>
  </alert>
  <form #clientForm="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="input-firstName">First Name</label>
          <input name="firstName" [(ngModel)]="client.firstName" id="input-firstName" class="form-control" #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched"
            required="true">
          <small class="invalid-feedback" *ngIf="firstName.invalid && firstName.touched">
            First Name is required!
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-lastName">Last Name</label>
          <input name="lastName" [(ngModel)]="client.lastName" id="input-lastName" class="form-control" #lastName="ngModel" [class.is-invalid]="lastName.invalid && lastName.touched"
            required="true">
          <small class="invalid-feedback" *ngIf="lastName.invalid && lastName.touched">
            Last Name is required!
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="input-email">Email</label>
          <input name="email" [(ngModel)]="client.email" pattern=".+@.+\..+" id="input-email" class="form-control" #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched" required="true">
          <small class="invalid-feedback" *ngIf="email.invalid && email.touched && email.errors?.required">
            Email is required!
          </small>
          <small class="invalid-feedback" *ngIf="email.invalid && email.touched && email.errors?.pattern">
            That's not an Email!
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="input-dob">Date of Birth</label>
          <input name="dob" [(ngModel)]="client.dob" bsDatepicker id="input-dob" class="form-control" #dob="ngModel" [class.is-invalid]="dob.invalid && dob.touched"
            required="true" [bsConfig]="{ containerClass: 'theme-default' }">
          <small class="invalid-feedback" *ngIf="dob.invalid && dob.touched">
            Date of Birth is required!
          </small>
        </div>
      </div>
    </div>
    <fieldset [disabled]="disableInputs">
      <legend *ngIf="!isModal">Address</legend>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="input-street">Street</label>
              <input name="street" [(ngModel)]="client.address.street" id="input-street" class="form-control" #street="ngModel"
                [class.is-invalid]="street.invalid && street.touched" required="true">
              <small class="invalid-feedback" *ngIf="street.invalid && street.touched">
                Street is required!
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="input-city">City</label>
              <input name="city" [(ngModel)]="client.address.city" id="input-city" class="form-control" #city="ngModel" [class.is-invalid]="city.invalid && city.touched"
                required="true">
              <small class="invalid-feedback" *ngIf="city.invalid && city.touched">
                City is required!
              </small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="input-country">Country</label>
              <ng-select name="country" [(ngModel)]="client.address.country" id="input-country" #country="ngModel" [class.is-invalid]="country.invalid && country.touched"
                required="true" [disabled]="disableInputs" placeholder="Search for a country...">
                <ng-option *ngFor="let country of countries" [value]="country.code">{{country.name}}</ng-option>
              </ng-select>
              <small class="invalid-feedback" *ngIf="country.invalid && country.touched">
                Country is required!
              </small>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="input-zip">Zip</label>
              <input name="zip" [(ngModel)]="client.address.zip" id="input-zip" class="form-control" #zip="ngModel" [class.is-invalid]="zip.invalid && zip.touched"
                required="true">
              <small class="invalid-feedback" *ngIf="zip.invalid && zip.touched">
                Zip is required!
              </small>
            </div>
          </div>
        </div>
      </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitted || !clientForm.valid" class="btn btn-default" (click)="saveClient()">Save</button>
  <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
</div>
