<div class="modal-header">
  <h4 class="modal-title" *ngIf="client._id; else clientAdd">Client Update</h4>
  <ng-template #clientAdd>
    <h4 class="modal-title">Client Add</h4>
  </ng-template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <alert *ngIf="error && !submitted" type="danger" [dismissible]="true">
    <strong>{{error.errmsg || 'Something unexpected happened.'}}</strong>
  </alert>
  <form #clientForm="ngForm">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input name="firstName" [(ngModel)]="client.firstName" id="input-firstName" class="form-control" placeholder="First Name"
            #firstName="ngModel" [class.is-invalid]="firstName.invalid && firstName.touched" required="true">
          <small class="invalid-feedback" *ngIf="firstName.invalid && firstName.touched">
            First Name is required!
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input name="lastName" [(ngModel)]="client.lastName" id="input-lastName" class="form-control" placeholder="Last Name" #lastName="ngModel"
            [class.is-invalid]="lastName.invalid && lastName.touched" required="true">
          <small class="invalid-feedback" *ngIf="lastName.invalid && lastName.touched">
            Last Name is required!
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input name="email" [(ngModel)]="client.email" pattern=".+@.+\..+" id="input-email" class="form-control" placeholder="Email Address"
            #email="ngModel" [class.is-invalid]="email.invalid && email.touched" required="true">
          <small class="invalid-feedback" *ngIf="email.invalid && email.touched && email.errors?.required">
            Email Address is required!
          </small>
          <small class="invalid-feedback" *ngIf="email.invalid && email.touched && email.errors?.pattern">
            That's not an Email Address!
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <input name="dob" [(ngModel)]="client.dob" bsDatepicker id="input-dob" class="form-control" placeholder="Date of Birth" #dob="ngModel"
            [class.is-invalid]="dob.invalid && dob.touched" required="true" [bsConfig]="{ containerClass: 'theme-default' }">
          <small class="invalid-feedback" *ngIf="dob.invalid && dob.touched">
            Date of Birth is required!
          </small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6>Address</h6>
      </div>
    </div>
    <app-address [(address)]="client.address" disableInputs="false" isModal="false"></app-address>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitted || !clientForm.valid" class="btn btn-default" (click)="saveClient()">Save</button>
  <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
</div>
