<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a routerLink="/" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a routerLink="movies" routerLinkActive="active">Movies</a>
        </li>

        <li>
            <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>

        <li>
            &nbsp;
        </li>

        <li class="sidebar-brand log-out-brand" (click)="logout()">
            <div style="cursor: pointer; color: #999999">
                <i class="fas fa-sign-out-alt fa-2x"></i>
                <span class="sidebar-brand" style="font-size: 19px;">Log out</span>
            </div>
        </li>
    </ul>
</div>