<div id="sidebar-wrapper" (window:resize)="onResize($event)">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a routerLink="rentals" routerLinkActive="active">
                    Rentals
            </a>
        </li>
        <li>
            <a routerLink="movies" routerLinkActive="active">Movies</a>
        </li>

        <li>
            <a routerLink="clients" routerLinkActive="active">Clients</a>
        </li>
        <li>
            &nbsp;
        </li>

        <li class="sidebar-brand fa-text-container" (click)="logout()">
            <div class="hvr-pulse" style="text-indent: 0px !important">
                <i class="fas fa-sign-out-alt fa-lg icon-center"></i>
                <span class="logout-text" style="font-size: 20px;">Log out</span>
            </div>
        </li>
    </ul>
</div>