<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a routerLink="/" routerLinkActive="active">
                Home
            </a>
        </li>
        <li>
            <a routerLink="movies" routerLinkActive="active">Movies</a>
        </li>

        <li>
            &nbsp;
        </li>

        <li class="sidebar-brand " style="cursor: pointer;">
            <a class="glyphicon glyphicon-log-out" (click)="logout()">Log out</a>
        </li>
    </ul>
</div>