<app-title [title]="'Clients'"></app-title>
<div class="row">
  <div class="col">
    <button type="button" [disabled]="submitted" class="btn btn-secondary" (click)="openClientModal()">Add Client</button>
    <input type="text" class="search form-control" placeholder="Search..">
  </div>
</div>

<div class="row">
  <div class="col">
    <ngx-datatable #clientsTable ngx-resize-watcher class="bootstrap" [rows]="clients" [columnMode]="'force'" [headerHeight]="40"
      [footerHeight]="40" [rowHeight]="'auto'">

      <ngx-datatable-row-detail [rowHeight]="160" #responsiveDetailRow [flexGrow]="1">
        <ng-template let-client="row" let-expanded="expanded" ngx-datatable-row-detail-template>
          <div class="col">
            <div><strong>Email</strong></div>
            <span>{{client.email}}</span>
            <div><strong>Date of Birth</strong></div>
            <span>{{client.dob | date}}</span>
            <div><strong>City</strong></div>
            <span>{{client.address.city}}</span>
            <div><strong>Street Address</strong></div>
            <span>{{client.address.street}}</span>
        </div>
        </ng-template>
      </ngx-datatable-row-detail>

      <ngx-datatable-column [width]="20" [resizeable]="false" [sortable]="false" [draggable]="false" [canAutoResize]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a [class.datatable-icon-right]="!expanded" [class.datatable-icon-down]="expanded" title="Expand/Collapse Row" (click)="toggleExpandRow(row)"
            class="desktop-hidden clickable">
          </a>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Name" [minWidth]="200" [resizeable]="false" [draggable]="false" [flexGrow]="2">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span>{{column.name}}</span>
        </ng-template>
        <ng-template let-client="row" ngx-datatable-cell-template>
          <span>{{client.firstName}} {{client.lastName}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email" prop="email" [resizeable]="false" [draggable]="false" [flexGrow]="2">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="mobile-hidden">{{column.name}}</span>
        </ng-template>
        <ng-template let-email="value" ngx-datatable-cell-template>
          <span class="mobile-hidden">{{email}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Address" prop="address" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1">
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          <span class="mobile-hidden">{{column.name}}</span>
        </ng-template>
        <ng-template let-address="value" ngx-datatable-cell-template>
          <span class="mobile-hidden clickable" (click)="openAddressModal(address, addressTemplate)">Click to view</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Operations" [minWidth]="70" [resizeable]="false" [sortable]="false" [draggable]="false" [flexGrow]="1">
        <ng-template ngx-datatable-header-template>
          <span class="mobile-hidden"></span>
        </ng-template>
        <ng-template let-client="row" ngx-datatable-cell-template>
          <div>
            <span *ngIf="!submitted" (click)="openClientModal(client)">
              <i class="fas fa-pencil-alt fa-lg clickable"></i>
            </span>
            &nbsp;
            <span *ngIf="!submitted" (click)="deleteClient(client)">
              <i class="fas fa-trash fa-lg clickable"></i>
            </span>
          </div>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div>
</div>
