<app-title [title]="'Clients'"></app-title>

<div class="row">
    <div class="col">
        <button type="button" class="btn btn-secondary" (click)="openClientModal()">Add Client</button>
    </div>
</div>

<div class="row">
    <div class="col">
        <ngx-datatable ngx-resize-watcher class="bootstrap" [rows]="clients" [columnMode]="'force'" [headerHeight]="40" [footerHeight]="40"
            [rowHeight]="'auto'">
            <ngx-datatable-column name="First Name" prop="firstName" ></ngx-datatable-column>
            <ngx-datatable-column name="Last Name" prop="lastName"></ngx-datatable-column>
            <ngx-datatable-column name="Email" prop="email"></ngx-datatable-column>
            <ngx-datatable-column name="Date of Birth" prop="dob">
                <ng-template let-value="value" ngx-datatable-cell-template>
                    <span>{{value | date}}</span>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Address" prop="address"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>