<div class="modal-header">
  <h4 class="modal-title" *ngIf="movie?._id; else movieAdd">Movie Update</h4>
  <ng-template #movieAdd>
    <h4 class="modal-title">Movie Add</h4>
  </ng-template>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <alert *ngIf="error && !submitted" [dismissible]="true" type="danger">
    <strong>{{error.errmsg || 'Something unexpected happened.'}}</strong>
  </alert>
  <form #movieForm="ngForm">
    <div class="row">
      <div class="col img-div">
        <label>Poster</label>
        <img class="img-fluid" *ngIf="movie?.poster" (click)="posterUpload.click()" [attr.src]="movie?.poster" />
        <div class="form-group" [attr.hidden]="movie?.poster">
          <input type="file" #posterUpload [attr.disabled]="movie?.tmdb && !movie?.poster" (change)="posterChange($event)" placeholder="Upload poster"
            accept="image/*">
        </div>
      </div>
      <div class="col">

        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="input-title">Title</label>
              <input name="title" [ngModel]="movie?.title" id="input-title" class="form-control" #title="ngModel" [class.is-invalid]="title.invalid && title.touched"
                required="true" [readonly]="movie?.tmdb">
              <div class="invalid-feedback" *ngIf="title.invalid && title.touched">
                Title is required!
              </div>
            </div>
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col">

            <div class="row">
              <div class="col">
                <div *ngIf="movie?._id" class="form-group">
                  <label for="input-remaining">Remaining Copies</label>
                  <input name="remaining" [ngModel]="remainingValue" id="input-remaining" class="form-control" #remaining="ngModel" type="number"
                    readonly>
                </div>
              </div>
              <div class="col">
                <div class="form-group" *ngIf="movie?._id; else noValidatorTotal">
                  <label for="input-total">Total Copies</label>
                  <!-- U INPUTU SE KORISTI CUSTOM DIREKTIVA copies-totals.directive.ts -->
                  <input name="total" [ngModel]="movie?.total" id="input-total" appCopiesTotals [greaterThan]="movie?.total - movie?.remaining"
                    class="form-control" #total="ngModel" [class.is-invalid]="total.invalid" required="true" type="number">
                  <div class="invalid-feedback" *ngIf="total.errors?.required && !total.errors?.gt">
                    Total Copies is required!
                  </div>
                  <div class="invalid-feedback" *ngIf="total.errors?.gt && !total.errors?.required">
                    Must be greater than {{movie?.total - movie?.remaining}}.
                  </div>
                </div>
                <ng-template #noValidatorTotal>
                  <div class="form-group">
                    <label for="input-total">Total Copies</label>
                    <input name="total" [ngModel]="movie?.total" id="input-total" class="form-control" #total="ngModel" [class.is-invalid]="total.invalid && total.touched"
                      required="true" type="number" appMin min="1">
                    <div class="invalid-feedback" *ngIf="total.errors?.required && !total.errors?.min">
                      Total Copies is required!
                    </div>
                    <div class="invalid-feedback" *ngIf="total.errors?.min && !total.errors?.required">
                      Must be greater than 0!
                    </div>
                  </div>
                </ng-template>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="input-director">Overview</label>
            <textarea class="form-control" resizable="false" [ngModel]="movie?.overview" name="overview" id="input-overview" rows="10"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="input-releaseDate">Release Date</label>
              <input name="releaseDate" [ngModel]="movie?.releaseDate" bsDatepicker id="input-releaseDate" class="form-control" #releaseDate="ngModel"
                [class.is-invalid]="releaseDate.invalid && releaseDate.touched" required="true" [bsConfig]="{ containerClass: 'theme-default' }"
                [readonly]="movie?.tmdb">
              <div class="invalid-feedback" *ngIf="releaseDate.invalid && releaseDate.touched">
                Release Date is required!
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!movie?._id" class="form-group row">
      <div class="col">
        <label for="input-tmdb">The Movie Database (TMDb)</label>
        <ng2-completer [inputClass]="'form-control '" #tmdb [inputName]="tmdb" name="tmdb" [datasource]="tmdbDatasource" [minSearchLength]="3"
          [placeholder]="'Search for a movie...'" [clearUnselected]="true" [textSearching]="'Please wait...'" (selected)="onSelectedTmdb($event)"></ng2-completer>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" [disabled]="submitted || !movieForm.valid" class="btn btn-default" (click)="saveMovie()">Save</button>
  <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
</div>
