<div id="wrapper" [ngClass]="{'toggled' : toggled}">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="height: 100vh;">
        <div class="container-fluid bordered">
            <router-outlet></router-outlet>
        </div>
        <a style="position: absolute; left:20px; bottom: 5vh;" class="btn btn-secondary" (click)="toggleSidebar()">Toggle Menu</a>

    </div>
    <!-- /#page-content-wrapper -->


</div>