<div id="wrapper" [ngClass]="{'toggled' : toggled}">

    <!-- Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper" style="height: 100vh;">
        <div class="container-fluid bordered">
            <router-outlet></router-outlet>
        </div>
        <div class="hvr-pulse" (click)="toggleSidebar()" style="cursor: pointer">
            <i class="fas fa-align-justify fa-2x sidebar-toggle"></i>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


</div>