.bordered {
    height: 97vh; 
    box-shadow: 0 0 8px 6px rgba(0,0,0,0.75);
    padding: 10px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar-toggle{
    position: absolute; 
    left: 5px; 
    bottom: 5vh;
    opacity: 0.5
}

.sidebar-toggle:hover {
    opacity: 1
}