/*Crveni placehodler tekst za invalid input polja*/

input.is-invalid::-webkit-input-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }
  
  input.is-invalid::-moz-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }
  
  input.is-invalid:-ms-input-placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }
  
  input.is-invalid::placeholder {
    color: #dc3545 !important;
    opacity: 1 !important;
  }